<div class="container">

  <div>
    <div>
      <textarea #newPost id="post" cols="80" rows="4"></textarea>
    </div>
    <div>
      <button class="btn btn-success" (click)="addNewPost(newPost.value)">Post</button>
    </div>
  </div>
  <br>

  <div *ngFor="let post of posts" class="card">
    <div class="card-title">User Id: {{post.userId}}</div>
    <div class="card-content">{{post.content}}</div>
    <div>
      <button routerLink="/detail/{{post.id}}">view</button>
      <button (click)="deletePost(post)">delete</button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
